

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-group label {
    margin-right: 1rem;
    font-size: 0.9rem;
}

.radio-group input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--black);
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 0.5rem;
    cursor: pointer;
}

.radio-group input[type="radio"]:checked {
    border-color: var(--black);
    background-color: var(--black);
}